<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @employee.job_type %>
</p>
<p>
  <strong>Date of hire:</strong>
  <%= @employee.date_of_hire %>
</p>
<p>
  <strong>Salary:</strong>
  <%= @employee.salary %>
</p>
<p>
  <strong>Vacation days:</strong>
  <%= @employee.vacation_days %>
</p>
<p>
  <strong>status:</strong>
  <%= @employee.status %>
</p>
<p>
  <strong>department:</strong>
  <%= @employee.department %>
</p>
<p>
  <strong>manager:</strong>
  <%= @employee.manager %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
