<h1>Listing departments</h1>

<div class="media">
      <div class="media-body">

       <table class="table table-hover">
  <thead>
    <tr>
      <th>Department name</th>
      <th>Manager</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.department_name %></td>
        <td><%= department.manager %></td>
        <td><%= department.location %></td>
        <td><%= link_to 'Show', department, class: 'btn btn-mini btn-primary' %></td>
        <td><%= link_to 'Edit', edit_department_path(department), class: 'btn btn-mini btn-success' %></td>
        <td><%= link_to 'Destroy', department, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
        
  </div>
</div>

<br>

<%= link_to 'New Department', new_department_path %>
